In [80]:
import pandas as pd
import numpy as np
import sklearn
import sklearn.ensemble 
from sklearn import metrics

In [10]:
train_data = pd.read_csv("/home/jordan/Downloads/Titanic/train.csv")
eval_data = pd.read_csv("/home/jordan/Downloads/Titanic/test.csv")

In [50]:
train_data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [82]:
y = train_data['Survived']

features = ['Pclass', 'Sex', 'SibSp', 'Parch']
X = pd.get_dummies(train_data[features])

X_eval = pd.get_dummies(eval_data[features])

X_train, X_test, y_train, y_test = sklearn.model_selection.train_test_split(X, y, test_size = 0.2)

In [94]:
n = 100
depth = 4

In [102]:
model = sklearn.ensemble.ExtraTreesClassifier(n_estimators = n, max_depth = depth, criterion='entropy')
model.fit(X_train, y_train)
predictions = model.predict(X_test)

submission = model.predict(X_eval)

In [103]:
acc = metrics.accuracy_score(y_test, predictions)
acc

0.8100558659217877

In [77]:
output = pd.DataFrame({'PassengerId': eval_data.PassengerId, 'Survived': submission})

output.to_csv('/home/jordan/Downloads/Titanic/submission_2.csv', index = False)