In [1]:
import pandas as pd
import numpy as np
import tensorflow as tf
from sklearn import preprocessing 
from sklearn import compose

2022-12-03 22:55:38.710779: W tensorflow/stream_executor/platform/default/dso_loader.cc:64] Could not load dynamic library 'libcudart.so.11.0'; dlerror: libcudart.so.11.0: cannot open shared object file: No such file or directory
2022-12-03 22:55:38.710844: I tensorflow/stream_executor/cuda/cudart_stub.cc:29] Ignore above cudart dlerror if you do not have a GPU set up on your machine.

In [2]:
df = pd.read_csv("/home/jordan/Downloads/Titanic/train.csv")

In [3]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [4]:
X = df.copy()
X = X.dropna()
Y = X[['Survived', 'PassengerId']].copy()

In [5]:
Y = Y.merge(X, 'inner', on = 'PassengerId')
Y = Y.pop('Survived_y')
X = X.drop('Survived', axis=1)
X

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
1,2,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
3,4,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
6,7,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
10,11,3,"Sandstrom, Miss. Marguerite Rut",female,4.0,1,1,PP 9549,16.7000,G6,S
11,12,1,"Bonnell, Miss. Elizabeth",female,58.0,0,0,113783,26.5500,C103,S
...,...,...,...,...,...,...,...,...,...,...,...
871,872,1,"Beckwith, Mrs. Richard Leonard (Sallie Monypeny)",female,47.0,1,1,11751,52.5542,D35,S
872,873,1,"Carlsson, Mr. Frans Olof",male,33.0,0,0,695,5.0000,B51 B53 B55,S
879,880,1,"Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)",female,56.0,0,1,11767,83.1583,C50,C
887,888,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
889,890,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C

In [11]:
train.drop('Name', inplace=True, axis=1)

/tmp/ipykernel_24367/3673902096.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  train.drop('Name', inplace=True, axis=1)

In [10]:
train = X.iloc[:163]
test = X.iloc[163:]

train_label = Y.iloc[:163]
test_label = Y.iloc[163:]

train.drop('Name', inplace=True, axis=1)

In [13]:
ohe = preprocessing.OneHotEncoder()
cols = ['Sex', 'Ticket', 'Cabin', 'Embarked']
for x, i in enumerate(cols):
    train[[i]] = ohe.fit_transform(train[[i]])

/tmp/ipykernel_24367/104242450.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  train[[i]] = ohe.fit_transform(train[[i]])
/tmp/ipykernel_24367/104242450.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  train[[i]] = ohe.fit_transform(train[[i]])
/tmp/ipykernel_24367/104242450.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  train[[i]] = ohe.fit_transform(train[[i]])
/tmp/ipykernel_24367/104242450.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  train[[i]] = ohe.fit_transform(train[[i]])

In [14]:
train.head()

,PassengerId,Pclass,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
1,2,1,"(0, 0)\t1.0",38.0,1,0,"(0, 99)\t1.0",71.2833,"(0, 64)\t1.0","(0, 0)\t1.0"
3,4,1,"(0, 0)\t1.0",35.0,1,0,"(0, 26)\t1.0",53.1000,"(0, 42)\t1.0","(0, 2)\t1.0"
6,7,1,"(0, 1)\t1.0",54.0,0,0,"(0, 50)\t1.0",51.8625,"(0, 105)\t1.0","(0, 2)\t1.0"
10,11,3,"(0, 0)\t1.0",4.0,1,1,"(0, 109)\t1.0",16.7000,"(0, 118)\t1.0","(0, 2)\t1.0"
11,12,1,"(0, 0)\t1.0",58.0,0,0,"(0, 21)\t1.0",26.5500,"(0, 37)\t1.0","(0, 2)\t1.0"

In [15]:
transformer = compose.make_column_transformer(
    (preprocessing.Normalizer(),
    ['Pclass','Age', 'SibSp', 'Parch', 'Fare']),
    remainder = 'passthrough'
)

In [16]:
transformed = transformer.fit_transform(train)
transformed_df = pd.DataFrame(transformed)

In [19]:
transformed_df = np.asarray(transformed_df)

In [17]:
def get_model():
    model = tf.keras.Sequential([
            tf.keras.layers.Dense(10, activation='tanh'),
            tf.keras.layers.Dropout(0.4),
            tf.keras.layers.Dense(1, activation='sigmoid')])
    model.compile(optimizer='adam',
            loss='BinaryCrossentropy',
            metrics='binary_accuracy')
    return model

In [20]:
model = get_model()       
history = model.fit(transformed_df, train_label, epochs=5, batch_size=128)

ValueError: Failed to convert a NumPy array to a Tensor (Unsupported object type float).

In [ ]:
transformed_df